{% extends "base.html" %}

{% block content %}
   <div class="container">
      {% if request.GET.q %}
         <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
               <li class="breadcrumb-item">
                  <a href="{% url 'book_list' %}">Books</a>
               </li>
               <li class="breadcrumb-item active" aria-current="page">Search results for "{{ request.GET.q }}"</li>
            </ol>
         </nav>
      {% endif %}

      <div class="mt-2 row row-cols-1 row-cols-md-5 g-4">
         {% for book in books %}
            <a href="{% url 'book_detail' book.id %}" class="text-decoration-none">
               <div class="col">
                  <div class="card">
                     {% if book.image %}
                        <div class="book-card-img-container">
                           <img src="{{ book.image.url }}"
                                width="80"
                                height="auto"
                                class="card-img-top book-card-img"
                                alt="{{ book.title }}" />
                        </div>
                     {% endif %}
                     <div class="card-body">
                        <span class="badge bg-secondary mb-2">{{ book.category }}</span>
                        <h5 class="card-title">{{ book.title }}</h5>
                        <small class="text-muted d-block text-truncate">By {{ book.author }}</small>
                        <p>
                           <strong>Price: ${{ book.price }}</strong>
                        </p>
                     </div>
                  </div>
               </div>
            </a>
         {% endfor %}
      </div>

   </div>
{% endblock content %}
